.wysiwyg
  &:not(:last-child)
    margin-bottom: 1.5rem
  img,
  svg
    display: block
    &:not(:last-child)
      margin-bottom: 1.5rem
  ol
    list-style: decimal
    padding-left: 1rem
  ul
    li
      position: relative
      padding-left: 2rem
      &:before
        content: "—"
        left: 0.5rem
        top: 0
        position: absolute
        @include mediaMaxWidthTablet
          top: 0
          left: 0
  a
    color: $colorSecondary400
    position: relative
    white-space: nowrap

    &:hover
      &:before
        opacity: 1

    &:before
      content: ""
      position: absolute
      top: 100%
      left: 0
      height: 1px
      width: 100%
      background-color: $colorSecondary400
      opacity: 0
      @include transition

