// BUTTON STYLES
.btn,
button,
input[type="submit"],
input[type="reset"]
    color: $colorPrimary400
    background-color: $colorWhite
    font-size: 1.25rem
    line-height: 1.75rem
    font-weight: 600
    padding: 0.5rem 1.25rem
    border: 1px solid $colorPrimary400
    text-decoration: none
    display: inline-block
    border-radius: 0
    outline: none
    cursor: pointer
    text-align: center
    margin: 0
    appearance: none
    @include transition
    &:hover
        color: $colorWhite
        background: $colorPrimary400
        border-color: $colorPrimary400
        text-decoration: none
    &:disabled
        border-color: $colorPrimary300
        background-color: $colorPrimary300

    // btn_secondary
    &.btn_secondary
        color: $colorPrimary400
        border-color: $colorWhite
        background-color: $colorWhite
        &:hover
            color: $colorWhite
            border-color: $colorPrimary400
            background-color: $colorPrimary400
        &:disabled
            border-color: $colorPrimary300
            color: $colorPrimary300

    // btn_tertiary
    &.btn_tertiary
        color: $colorPrimary400
        border-color: transparent
        background-color: transparent
        &:hover
            color: $colorWhite
            border-color: $colorPrimary400
            background-color: $colorPrimary400
        &:disabled
            border-color: $colorPrimary300
            color: $colorPrimary300
