// custom-check
.custom-check
    position: relative
    .custom-check__input
        position: absolute
        opacity: 0
        // checked
        &:checked ~ .custom-check__text
            &:before
                opacity: 1
        // disabled
        &:disabled ~ .custom-check__text
            &:after
                border-color: $colorPrimary300
            &:hover
                &:after
                    border-color: $colorPrimary300
        // error
        &.error ~ .custom-check__text
            color: $colorRed
    // custom-check__text
    .custom-check__text
        position: relative
        padding-left: 2.5rem
        cursor: pointer
        &:before,
        &:after
            content: ''
            position: absolute
            left: 0
            top: 0
            box-sizing: border-box
            @include transition
        &:before
            opacity: 0
            z-index: 2
            width: 1.25rem
            height: 1.25rem
            background: $colorPrimary500
            top: 0.125rem
            left: 0.125rem
        &:after
            width: 1.5rem
            height: 1.5rem
            background-color: $colorPrimary300
        &:hover
            &:before
                opacity: 1

    // checkbox
    input[type='checkbox']
        & ~ .custom-check__text

    // radio
    input[type='radio']
        & ~ .custom-check__text
            &:before,
            &:after
                border-radius: 50%


