// form-field
.form-field
  margin-bottom: 1.5rem
  position: relative
  .form-field__label
    display: flex
    flex-direction: column
    height: 100%
  .form-field__title
    color: $colorPrimary400
    font-size: 1.25rem
    line-height: 1.5rem
    margin-bottom: 0.5rem
    cursor: pointer
    @include transition
    &:hover
      color: $colorPrimary500
// error
label.error,
.wpcf7-not-valid-tip
  color: $colorRed
  font-size: 1rem
  line-height: 1.25rem
  position: absolute
  top: 100%
  left: 0