.form-field__input
  color: $colorPrimary400
  background-color: transparent
  font-size: 1rem
  line-height: 1.25rem
  font-family: $mainFont
  padding: 0.75rem 1.5rem
  width: 100%
  border-radius: 0
  border: 0
  border-bottom: 1px solid $colorPrimary400
  margin: 0
  text-overflow: ellipsis
  box-sizing: border-box
  appearance: none
  outline: none
  @include transition
  //// hover
  //&:hover
  //  padding-left: 2rem
  //// focus
  //&:focus
  //  padding-left: 2rem
  // disabled
  &:disabled
    opacity: .5
  // error
  &.error,
  &.wpcf7-not-valid
    border-color: $colorRed
  // placeholder
  &::placeholder
    opacity: 1
    color: $colorPrimary400
  textarea
    width: 100%
    height: 7.5rem
    resize: none