<template>
    <header class="layout__header header">
        <div class="container">
            <!-- logo -->
            <div class="header__logo logo">
                    <router-link to="/" class="logo__link">
                    <svg class="logo__ico">
                        <use xlink:href="../../assets/img/sprite.svg#logo"></use>
                    </svg>
                    </router-link>
            </div>
            <!-- nav -->
            <nav class="header__nav nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <router-link to="/base" class="nav__link">Базовая страница</router-link>
                    </li>
                    <li class="nav__item">
                        <router-link to="/" class="nav__link">Домашняя страница</router-link>
                    </li>
                </ul><!-- //nav__list -->
            </nav><!-- //nav -->

            <!-- search -->
            <div class="header__search search">
                <div class="form-field">
                    <input type="text" placeholder="Поиск по названию товара"
                           ref="search__input"
                           class="search__input form-field__input"
                           required>
                    <span class="search__submit"
                    @click="methodSearch()">
                        <svg class="search__ico">
                            <use xlink:href="../../assets/img/sprite.svg#search"></use>
                        </svg>
                    </span>
                </div><!-- //form-field -->
            </div>


            <!-- actions -->
            <div class="header__actions actions">
                <div class="actions__list">
                    <div class="actions__item actions__item_favorite">

                        <router-link to="/favorites" class="actions__link">
                            <svg class="actions__ico">
                                <use xlink:href="../../assets/img/sprite.svg#favorite"></use>
                            </svg>
                            <span class="actions__text">{{this.getFavorite.length}}</span>
                        </router-link>
                    </div>
                    <div class="actions__item actions__item_cart">
                        <router-link to="/cart" class="actions__link">
                            <svg class="actions__ico">
                                <use xlink:href="../../assets/img/sprite.svg#basket"></use>
                            </svg>
                            <span class="actions__text">{{this.getBaskets.length}}</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div><!-- //container -->
    </header><!-- //header -->
</template>

<script>
    import {mapGetters, mapActions} from "vuex";

    export default {
        name: 'header',
        data(){
          return{
              searchValue: ""
          }
        },
        computed: {
            ...mapGetters(["getFavorite", 'getBaskets']),
        },
        methods: {
            ...mapActions(['actionSearch']),
            methodSearch(){
                this.actionSearch(this.$refs.search__input.value);
                this.$router.push({name: 'Search'})
            }
        },
        async mounted() {

        },
    }
</script>

<style scoped lang="sass">
    @import "../../assets/scss/helper/variables"
    @import "../../assets/scss/helper/media"
    .layout__header
        color: $colorWhite
        background-color: $colorPrimary500
        padding: 1rem 0
        @include transition

        .container
            display: flex
            align-items: center
            height: 100%
    // header__logo
    .header__logo
        &:not(:last-child)
            margin-right: 2rem
        .logo__link
            display: flex
            height: 100%
        .logo__ico
            height: 4rem
            width: 4rem
            fill: $colorWhite

    // header__navigation
    .header__nav

        .nav__list
            margin: 0
            list-style: none
            display: flex

        .nav__item
            margin: 0
            &:not(:last-child)
                margin-right: 1rem
        .nav__link
            color: $colorWhite
            font-weight: 700
            display: block
            text-decoration: none
            text-transform: uppercase
            @include transition
            &.router-link-active,
            &:hover
                color: $colorSecondary400

    // header__search
    .header__search
        display: flex
        position: relative
        margin-left: auto
        &:not(:last-child)
            margin-right: 2rem
        .form-field
            margin-bottom: 0
        .search__input
            color: $colorWhite
            border: 0
            padding-right: 3rem
            width: 20rem
            text-transform: uppercase
            &::placeholder
                color: $colorWhite
        .search__submit
            position: absolute
            top: 50%
            right: 0
            width: 2.5rem
            height: 2.5rem
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            @include transform-y
            &:hover
                .search__ico
                    fill: $colorSecondary400
            .search__ico
                width: 1.5rem
                height: 1.5rem
                fill: $colorWhite
                @include transition
    // header__actions
    .header__actions
        .actions__list
            display: flex

        .actions__item
            display: flex
            position: relative

            &:not(:last-child)
                margin-right: 1.25rem
            .actions__link
                color: $colorWhite
                font-size: .75rem
                line-height: 1rem
                @include transition
                &:hover,
                &.router-link-active
                    color: $colorSecondary400
                    .actions__ico
                        fill: $colorSecondary400
            .actions__ico
                width: 1.5rem
                height: 1.5rem
                fill: $colorWhite
                @include transition

            .actions__text
                position: absolute
                top: calc(100% - .5rem)
                left: calc(100% - .25rem)
</style>
