<template>
    <div class="layout__modal modal"
         v-if=this.getDataById>
        <div class="modal__wrap">
            <div class="modal__action action"
                 @click="methodsModalAction()">
                <svg class="action__ico">
                    <use xlink:href="../../assets/img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="modal__main">
                <div class="product">
                    <div class="row">
                        <div class="col col_6 col_mob-12">
                            <div class="product__wrap">
                            <div class="product__media"
                                 :style="{ backgroundImage: 'url(' + this.getDataById.src + ')' }">
                                <div class="product__rating rating"
                                     :style="{color: this.getDataById.rating > 0? '#287233':'#cc0000'}">
                                    <span class="rating__text">{{this.getDataById.rating}}</span>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col col_6 col_mob-12">
                            <div class="product__wrap">

                                <div class="product__header">
                                    <div class="product__title title">
                                        <span class="title__text">{{this.getDataById.title}}</span>
                                    </div>
                                    <div class="product__date date">
                                        <span class="date__text">{{this.getDataById.date}}</span>
                                    </div>
                                </div>
                                
                                
                            <div class="product__content">
                                <div class="product__param param">
                                    <div class="param__list">
                                        <dl v-for="param in this.getDataById.params">
                                            <dt>{{param.label}}:</dt>
                                            <dd v-if="typeof param.value === 'string'">{{param.value}}</dd>
                                            <dd v-else-if="typeof param.value === 'object'">{{param.value.join()}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="product__description" v-html=this.getDataById.description></div>
                                <Actions
                                        :id=this.getDataById.id />
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    // Import
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: 'Modal',
        computed: {
            ...mapGetters(["getDataById"]),
        },
        methods: {
            ...mapActions(['actionDataById']),
            methodsModalAction() {
                this.actionDataById();
            }
        },

    }
</script>
<style lang="sass">
    @import "../../assets/scss/helper/variables"
    @import "../../assets/scss/helper/media"
    // Стилизация попапов
    .modal
        position: fixed
        top: 0
        right: 0
        z-index: 101
        width: 75rem
        max-width: 100%
        height: 100%
        background-color: $colorWhite
        &:before
            content: ""
            position: absolute
            top: 0
            right: 100%
            height: 100%
            width: 100vw
            max-width: calc(100vw - 38.75rem)
            background-color: rgba(0,0,0,.9)
            cursor: pointer
            opacity: 0.75
        // modal__wrap
        .modal__wrap
            padding: 1.5rem
            height: 100%
            display: flex
            flex-direction: column
            @include mediaMinWidthTablet
                padding: 2rem 2.5rem

        // modal__action
        .modal__action
            width: 4rem
            height: 4rem
            background-color: $colorSecondary400
            position: absolute
            top: 0
            right: 100%
            cursor: pointer
            display: flex
            align-items: center
            justify-content: center
            @include transition
            &:hover
                background-color: $colorWhite
                .action__ico
                    fill: $colorSecondary400
            .action__ico
                fill: $colorWhite
                width: 2rem
                height: 2rem

        // modal__content
        .modal__content
            height: 100%
            overflow: hidden
            overflow-y: auto


    .product
        .product__wrap
            position: relative
        .product__media
            padding-top: 150%
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            background-blend-mode: multiply
            cursor: pointer
            background-color: rgba(255, 0, 0, 0.9) !important
        .product__rating
            position: absolute
            top: .5rem
            right: 0
            padding: .5rem 1rem
            font-weight: 700
            background-color: $colorWhite
            text-align: center
        .product__header
            &:not(:last-child)
                margin-bottom: 1.25rem
            .product__title
                .title__text
                    color: $colorPrimary400
                    font-size: 1.25rem
                    line-height: 1.5rem
                    font-weight: 700
                    cursor: pointer
                    @include transition
                    &:hover
                        color: $colorSecondary400
            .product__date
                color: $colorPrimary300
</style>