<template>
  <div class="section">
    <div class="section__content">
      <div class="container">
        <Accordion />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section__content">
      <div class="container">
        <Tabs />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section__header">
      <div class="container">
        <h1 class="title-text">Типография</h1>
      </div>
    </div>
    <div class="section__content wysiwyg">
      <div class="container">
        <h1>Рекомендации по вёрстке экранной текстовой страницы со статьёй, заметкой, книжной главой или текстом
          о компании.</h1>
        <p>
          В отличие от модульной страницы, состоящей из отдельных блоков-атомов, текстовая страница
          представляет собой поток для последовательного чтения — например как этот совет. Подобно длинной
          молекуле полимера, текстовая страница включает в себя разнообразные элементы в свободном порядке:
          подзаголовки, списки, таблицы и иллюстрации.
        </p>
        <h2>Основной текст</h2>
        <p>
          Колонка основного текста занимает 60—70% ширины окна. В «резиновой» вёрстке ширина текстовой полосы
          уменьшается или увеличивается с изменением размера окна или экрана. Но разрешение экранов постоянно
          растёт, поэтому имеет смысл ограничивать максимальную ширину колонки текста, чтобы строки не
          становились чрезмерно длинными, а страница — трудной для чтения.
        </p>
        <p>
          Текст в основной колонке имеет длинные строки, и, как правило, выигрывает в читаемости при небольшом
          увеличении интерлиньяжа по сравнению со стандартным.
        </p>
        <p>
          Текст, выровненный влево с рваным правым краем, должен «дышать» справа, то есть край формата или
          соседняя колонка не должны подходить к нему слишком близко.
        </p>
        <p>
          Текст дробится на абзацы. В экранной вёрстке абзацы обычно отделяют вертикальными отступами. В
          канонической швейцарской сетке, привязанной к базовым линиям, отступ между абзацами строго равен
          одной строке, поэтому его иногда называют «слепой строкой». На «бесконечной» экранной странице эта
          условность не имеет смысла.
        </p>
        <h2>Подзаголовки</h2>

        <p>
          Основной текст имеет один главный заголовок первого уровня и дробится на части с помощью
          подзаголовков.
        </p>
        <p>
          Кегль заголовков второго уровня обычно увеличен по сравнению с основным текстом. Перед такими
          заголовками пропускают примерно две строки, после делают отступ, равный обычному абзацному — как у
          надписи «Подзаголовки» в этом разделе.
        </p>
        <h3>Заголовки третьего уровня</h3>
        <p>
          Заголовки третьего уровня удобно набирать полужирным основного кегля и не отбивать от последующего
          текста, как над колонками текста на развороте ниже:
        </p>
        <p>
          Подзаголовок в подбор к основному тексту. Ещё один способ избежать лишних отступов на странице.
        </p>
        <p>
          Подобные «уплотнительные» меры визуально упрощают структуру страницы, помогают избежать путаницы в
          уровнях вложенности заголовков и частей текста.
        </p>
        <p>
          Заголовки четвёртого уровня запрещены в любом уважающем себя издании, кроме специализированных
          словарей и справочников.
        </p>
        <p>
          Подзаголовки в иерархии могут быть оформлены комбинацией разных стилей: кегля, полужирного
          начертания, капители, курсива и выделения цветом. Главные правила — чередование, то есть яркий
          контраст стиля заголовков на соседних уровнях вложенности, и чувство меры.
        </p>

        <h2>Списки</h2>
        <p>
          Список, или перечень,— это предложение с однородными членами, разбитыми для удобства чтения на
          отдельные строки, обозначенными графическими маркерами или наборными символами. Поэтому любой список
          предваряется обобщающим текстом (общей, неповторяющейся частью предложения) или заголовком в той же
          синтаксической роли.
        </p>
        <h3>
          Нумерованные и упорядоченные
        </h3>
        <p>
          Арабскими цифрами с точкой обозначают элементы перечня, если каждый элемент является отдельным
          предложением, то есть начинается с прописной буквы и оканчивается точкой. Но даже в этом случае
          список представляет собой синтаксическую и смысловую единицу, требующую обобщающего текста или
          заголовка.
        </p>
        <p>
          Для успешной работы дизайнеру необходимо:
        </p>
        <ol>
          <li>дистанционное обучение;</li>
          <li>
            беспощадная система отбора и отсева на всех ступенях;
            <ol>
              <li>дистанционное обучение,</li>
              <li> беспощадная система отбора и отсева на всех ступенях,</li>
              <li>бесплатные места для лучших студентов,</li>
              <li>гарантия трудоустройства,</li>
              <li>чистая радость познания.</li>
            </ol>
          </li>
          <li>бесплатные места для лучших студентов;</li>
          <li>гарантия трудоустройства;</li>
          <li>чистая радость познания.</li>
        </ol>
        <h3>Ненумерованные списки</h3>
        <p>
          Вместо цифр и букв в ненумерованных списках элементы часто обозначаются графическими маркерами или
          символами.
        </p>
        <p>
          Наша фирма предоставляет следующие услуги::
        </p>
        <ul>
          <li>Дизайн.</li>
          <li>Бизнес-аналитика:
            <ul>
              <li>исследование рынка;</li>
              <li>написание технического задания.</li>
            </ul>
          </li>
          <li>Программирование.</li>
          <li>Интернет-маркетинг.</li>
        </ul>
        <h2>Таблицы</h2>
        <table>
          <tr>
            <th>
              Валюта
            </th>
            <th>
              Покупка
            </th>
            <th>
              Продажа
            </th>
          </tr>
          <tr>
            <td>
              EUR
            </td>
            <td>
              27.55
            </td>
            <td>
              28.15
            </td>
          </tr>
          <tr>
            <td>
              USD
            </td>
            <td>
              27.55
            </td>
            <td>
              28.15
            </td>
          </tr>
          <tr>
            <td>
              RUB
            </td>
            <td>
              27.55
            </td>
            <td>
              28.15
            </td>
          </tr>
          <tr>
            <td>
              EUR
            </td>
            <td>
              27.55
            </td>
            <td>
              28.15
            </td>
          </tr>
          <tr>
            <td>
              USD
            </td>
            <td>
              27.55
            </td>
            <td>
              28.15
            </td>
          </tr>


        </table>
        <h2>Особые элементы текста</h2>
        <h3>Ссылки</h3>
        <p>
          Инструкция: <a href="#">manual.pdf</a> 0,7 МБ
        </p>
        <p>
          Ссылку на адрес электронной почты (mailto) рекомендуется использовать только вместе с адресом,
          указанным в явном виде: <a href="#">manager@dzencode.com</a>
        </p>
        <h3>Псевдоссылки</h3>
        <p>
          Инструкция :<a href="#" class="sub-link">manual.pdf</a>
        </p>
        <h3>Надстрочный знак</h3>
        <p>
          Стоимость: <strong>5399 <sup>грн</sup></strong>
        </p>
        <h3>Цитаты</h3>
        <p>
          предназначен для выделения длинных цитат, которые могут состоять из нескольких абзацев. Тег выделяет
          цитату как отдельный блок текста с отступами.
        </p>
        <blockquote>
          Никогда ничего не просите! Никогда и ничего, и в особенности у тех, кто сильнее вас. Сами предложат
          и сами всё дадут!
          Никогда ничего не просите! Никогда и ничего, и в особенности у тех, кто сильнее вас. Сами предложат
          и сами всё дадут!
          Никогда ничего не просите! Никогда и ничего, и в особенности у тех, кто сильнее вас. Сами предложат
          и сами всё дадут!
        </blockquote>
        <p>
          "q" предназначен для выделения коротких цитат в предложениях. Текст внутри этого тега автоматически
          обрамляется кавычками:
        </p>
        <q>
          предназначен для выделения коротких цитат в предложениях. Текст внутри этого тега автоматически
          обрамляется кавычками
          предназначен для выделения коротких цитат в предложениях. Текст внутри этого тега автоматически
          обрамляется кавычками
          предназначен для выделения коротких цитат в предложениях. Текст внутри этого тега автоматически
          обрамляется кавычками
        </q>

      </div><!-- //content -->
    </div>
  </div>

  <div class="section section_secondary-bg">
    <div class="section__header">
      <div class="container">
        <h1 class="title-text">Елементы формы</h1>
      </div>
    </div>
    <div class="section__content">
      <div class="container">

        <form action="post" class="form">
          <fieldset>
            <div class="row">
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>
                    <input type="tel" placeholder="Поле с маской телефона" class="form-field__input phone_mask" required>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>

                    <input type="tel" placeholder="Поле с маской телефона" class="form-field__input phone_mask" required>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>

                    <input type="text" placeholder="Контент" class="form-field__input" required disabled>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>
                    <span class="custom-check">
                        <input class="custom-check__input" type="checkbox" name="chekbox" required>
                        <span class="custom-check__text">Пример текста</span>
                    </span>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>

                    <span class="custom-check">
                                            <input class="custom-check__input" type="checkbox" name="chekbox" required
                                                   checked>
                                             <span class="custom-check__text">Пример текста</span>
                                        </span>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>

                    <span class="custom-check">
                                            <input class="custom-check__input" type="checkbox" name="chekbox" required
                                                   disabled>
                                            <span class="custom-check__text">Пример текста</span>
                                        </span>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>

                    <span class="custom-check">
                                            <input class="custom-check__input" type="radio" name="radio" required>
                                            <span class="custom-check__text">Пример текста</span>
                                        </span>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>

                    <span class="custom-check">
                                            <input class="custom-check__input" type="radio" name="radio" required
                                                   checked>
                                            <span class="custom-check__text">Пример текста</span>
                                        </span>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6 col_mob-12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>

                    <span class="custom-check">
                                            <input class="custom-check__input" type="radio" name="radio" required
                                                   disabled>
                                            <span class="custom-check__text">Пример текста</span>
                                        </span>
                  </label>
                </div><!-- //form-field -->
              </div>

              <div class="col col_12">
                <div class="form-field">
                  <label class="form-field__label">
                    <span class="form-field__title">Заголовок</span>

                    <textarea name="" placeholder="Контент" class="form-field__input"></textarea>
                  </label>
                </div><!-- //form-field -->
              </div>
              <div class="col col_4 col_tab-6">
                <button type="submit" class="btn">Первичная кнопка</button>
              </div>
              <div class="col col_4 col_tab-6">
                <button type="submit" class="btn_secondary">Вторичная кнопка</button>
              </div>
              <div class="col col_4 col_tab-6">
                <button type="submit" class="btn_tertiary">Третичная кнопка</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div><!-- //content -->
    </div>
  </div>
</template>


<script>
  import Accordion from '@/components/section/accordion.vue'
  import Tabs from '@/components/section/tabs.vue'
export default {
  name: 'Home',
  components: {
    Accordion,
    Tabs
  }
}
</script>
