<template>
  <section class="section">
    <div class="container">
      <div class="section__header">
        <div class="row">
          <div class="col col_4 col_tab-12">
            <div class="section__title title">
              <h1 class="title__text">Корзина</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="section__content">
        <div class="section__main"
             v-if="getProductsBasketFilter.length">
          <div class="products">
            <div class="products__list">
              <div class="row">
                <div class="col col_6 col_tab-12"
                     v-for="product in this.getProductsBasketFilter">
                  <div class="products__item">
                    <div class="row">
                      <div class="col col_4 col_mob-12">
                        <div class="products__wrap">
                          <div class="products__media"
                               @click="methodDataById(product.id)"
                               :style="{ backgroundImage: 'url(' + product.src + ')' }">
                          </div>
                          <div class="products__rating rating"
                               :style="{color: product.rating > 0? '#287233':'#cc0000'}">
                            <span class="rating__text">{{product.rating}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col col_8 col_mob-12">
                        <div class="products__wrap">
                          <div class="products__header">
                            <div class="row">
                              <div class="col col_6 col_mob-12">
                                <div class="products__title title"
                                     @click="methodDataById(product.id)">
                                  <span class="title__text">{{product.title}}</span>
                                </div>
                              </div>
                              <div class="col col_6 col_mob-12">
                                <Actions
                                        :id=product.id />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col col_6 col_mob-12">
                                <div class="products__date date">
                                  <span class="date__text">{{product.date}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="products__main">
                            <div class="products__param param">
                              <div class="param__list">
                                <dl v-for="param in product.params">
                                  <dt>{{param.label}}:</dt>
                                  <dd v-if="typeof param.value === 'string'">
                                    {{param.value}}
                                  </dd>
                                  <dd v-else-if="typeof param.value === 'object'">
                                    {{param.value.join()}}
                                  </dd>
                                </dl>
                              </div>
                            </div>
                            <div class="products__description"
                                 v-html=product.description></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section__secondary"
             v-else>
          <span class="no-result">По вашим запросам ничего не найдено</span>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  import {mapGetters, mapActions} from "vuex";
  import Actions from "@/components/section/products/actions.vue"

  export default {
    name: "home",
    computed: {
      ...mapGetters(["getProductsBasketFilter"])
    },
    components: {
      Actions
    },
    methods: {
      ...mapActions(['actionDataById']),
      methodDataById(id) {
        this.actionDataById(id);
      },

    },
    async mounted() {

    },
  }

</script>
<style lang="sass" scoped>
  @import "../assets/scss/helper/variables"
  @import "../assets/scss/helper/media"
  .products
    /* products__list */



    .products__list
      &:not(:last-child)
        margin-bottom: 2rem

    .products__item
      margin-bottom: 1.5rem

      .products__wrap
        position: relative

      .products__media
        padding-top: 150%
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        background-blend-mode: multiply
        cursor: pointer
        background-color: rgba(255, 0, 0, 0.9) !important

      .products__rating
        position: absolute
        top: .5rem
        right: 0
        padding: .5rem 1rem
        font-weight: 700
        background-color: $colorWhite
        text-align: center

      .products__header
        &:not(:last-child)
          margin-bottom: 1.25rem

        .products__title
          .title__text
            color: $colorPrimary400
            font-size: 1.25rem
            line-height: 1.5rem
            font-weight: 700
            cursor: pointer
            @include transition

            &:hover
              color: $colorSecondary400

        .products__date
          color: $colorPrimary300

</style>