<template>
    <section class="section">
        <div class="container">
            <div class="section__header">
                <div class="row">
                    <div class="col col_4 col_tab-12">
                        <div class="section__title title">
                            <h1 class="title__text">Список фильмов</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col_6 col_tab-12">
                        <div class="section__filter">
                            <div class="filter__title title">
                                <span class="title__text">Фильтрация:</span>
                            </div>
                            <div class="filter__list">
                                <div class="filter__item"
                                     :class="{filter__item_active: item === this.getFilter.by}"
                                     v-for="item in this.getFilter.list"
                                     @click="methodFilter(item)">{{item}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col_6 col_tab-12">
                        <div class="section__sort sort">
                            <div class="sort__title title">
                                <span class="title__text">Сортировка:</span>
                            </div>
                            <div class="sort__list">
                                <div class="sort__item"
                                     :class="{sort__item_active: this.getSort.by === 'title'}"
                                     @click="methodSort('title')">
                                    По названию
                                </div>
                                <div class="sort__item"
                                     :class="{sort__item_active: this.getSort.by === 'date'}"
                                     @click="methodSort('date')">
                                    По дате
                                </div>
                                <div class="sort__item"
                                     :class="{sort__item_active: this.getSort.by === 'rating'}"
                                     @click="methodSort('rating')">
                                    По рейтингу
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__content">
                <div class="products">
                    <div class="products__list">
                        <div class="row">
                            <div class="col col_3 col_tab-12"
                                 v-for="product in this.getProductsPaginationFilter">
                                <div class="products__item">

                                    <div class="products__media"
                                         @click="methodDataById(product.id)"
                                         :style="{ backgroundImage: 'url(' + product.src + ')' }">
                                    </div>
                                    <div class="products__header">
                                        <div class="products__rating rating"
                                             >
                                            <span class="rating__text">Ретинг:</span>
                                            <span class="rating__value"
                                                  :style="{color: product.rating > 0? '#287233':'#cc0000'}">{{product.rating}}</span>
                                        </div>
                                        <Actions
                                                :id=product.id />
                                    </div>
                                    <div class="products__main">
                                        <div class="products__title title"
                                             @click="methodDataById(product.id)">
                                            <span class="title__text">{{product.title}}</span>
                                        </div>
                                        <div class="products__date">
                                            <span class="date__text">{{product.date}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__footer">
                <Pagination :maxLength=this.getProductsFilter.length />
            </div>
        </div>
    </section>
</template>
<script>
    import {mapGetters, mapActions} from "vuex";
    import Pagination from "@/components/section/products/pagination.vue"
    import Actions from "@/components/section/products/actions.vue"

    export default {
        name: "home",
        computed: {
            ...mapGetters(["getProductsFilter","getProductsPaginationFilter", "getSort", "getFilter"])
        },
        components: {
            Pagination,
            Actions
        },
        methods: {
            ...mapActions(['actionDataById', 'actionSort', 'actionFilter']),
            methodDataById(id) {
                this.actionDataById(id);
            },
            methodSort(value) {
                this.actionSort(value);
            },
            methodFilter(value) {
                this.actionFilter(value);
            }
        },
        async mounted() {

        },
    }

</script>
<style lang="sass">
    @import "../assets/scss/helper/variables"
    @import "../assets/scss/helper/media"

</style>

<style lang="sass" scoped>
    @import "../assets/scss/helper/variables"
    @import "../assets/scss/helper/media"
    .products
        /* products__list */

        .products__list
            &:not(:last-child)
                margin-bottom: 2rem

        .products__item
            margin-bottom: 1.5rem
            position: relative

            .products__media
                padding-top: 150%
                background-repeat: no-repeat
                background-size: cover
                background-position: center
                background-blend-mode: multiply
                cursor: pointer
                background-color: rgba(255, 0, 0, 0.9) !important
            .products__header
                padding: 1.25rem
                position: absolute
                top: 4px
                left: 4px
                width: calc(100% - 8px)
                background-color: $colorWhite
                display: flex
                justify-content: space-between
                .products__rating
                    display: flex
                    align-items: center
                    .rating__text
                        color: $colorPrimary500
                        font-size: 1.25rem
                        line-height: 1.5rem
                        font-weight: 700
                        &:not(:last-child)
                            margin-right: .5rem
                    .rating__value
                        font-size: 1.25rem
                        line-height: 1.25rem
                        font-weight: 700
            .products__main
                padding: 1.25rem
                position: absolute
                bottom: 4px
                left: 4px
                width: calc(100% - 8px)
                background-color: $colorWhite

                .products__title
                    .title__text
                        color: $colorPrimary400
                        font-size: 1.25rem
                        line-height: 1.5rem
                        font-weight: 700
                        cursor: pointer

                .products__date
                    .date__text
                        color: $colorPrimary300


</style>

