// white
$colorWhite: #ffffff
// red
$colorRed: #e10000
// primary colors
$colorPrimary200: #f4f6fa
$colorPrimary300: #8f95a3
$colorPrimary400: #010101
$colorPrimary500: #000000
// secondary colors
$colorSecondary300: #e10000
$colorSecondary400: #e10000
$colorSecondary500: #e10000
// tertiary colors
$colorTertiary300: #ffff00
$colorTertiary400: #ffff00
$colorTertiary500: #ffff00

// fonts
$mainFont: 'Lato', sans-serif

// mixin
@mixin transition()
  transition: all 0.2s ease-in-out

@mixin transition-long()
  transition: all 0.4s ease-in-out

@mixin transform()
  transform: translate(-50%, -50%)

@mixin transform-x()
  transform: translateX(-50%)

@mixin transform-y()
  transform: translateY(-50%)