<template>
    <div class="accordion">
        <div class="accordion__list">
            <div class="accordion__item"
                 :class="{accordion__item_active: index === this.getAccordionIndex}"
                 v-for="(accordion, index) in this.getAccordionData">
                <div
                    class="accordion__header"
                    @click="methodsAccordionChange(index)">
                    <span class="accordion__title">{{accordion.title}}</span>
                    <svg class="accordion__ico">
                        <use xlink:href="../../assets/img/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="accordion__body">
                    <div class="wysiwyg" v-html=accordion.body></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    // Import
    import {mapGetters, mapActions } from "vuex";
    export default {
        name: 'Accordion',
        computed: {
            ...mapGetters(["getAccordionData", "getAccordionIndex"]),
        },
        methods: {
            ...mapActions(['actionAccordionData', 'actionAccordionIndex']),
            methodsAccordionChange(index) {
                this.actionAccordionIndex(index);
            }
        },
        mounted() {
            this.actionAccordionData();
        },
    }
</script>
<style lang="sass">
    @import "../../assets/scss/helper/variables"
    @import "../../assets/scss/helper/media"
    // ACCORDION
    .accordion
        .accordion__item
            margin-bottom: 1.25rem
            // accordion-item_active
            &.accordion__item_active
                .accordion__header
                    background-color: $colorPrimary500
                    color: $colorWhite

                    .accordion__ico
                        transform: rotate(-180deg)

                        path
                            fill: $colorWhite

                .accordion__body
                    display: block
            // accordion__header
            .accordion__header
                display: flex
                align-items: center
                cursor: pointer
                color: $colorPrimary400
                font-weight: 600
                font-size: 1.25rem
                line-height: 1.5rem
                padding: 1.25rem 1.5rem
                background-color: $colorPrimary300
                @include transition

                .accordion__title
                    &:not(:last-child)
                        margin-right: 1.25rem

                .accordion__ico
                    width: 1.25rem
                    min-width: 1.25rem
                    height: 1rem
                    margin-left: auto

                    path
                        fill: $colorPrimary400
                        @include transition
            // accordion-item__body
            .accordion__body
                display: none
                padding: 1.25rem 1.5rem
                background-color: $colorPrimary300
</style>