<template>
    <div class="tabs">
        <div class="tabs-header">
            <div
                class="tabs__item"
                :class="{tabs__item_active: index === getTabIndex}"
                @click="methodsTabChange(index)"
                v-for="(tab, index) in this.getTabData">
                <span class="tabs-header__text">{{tab.title}}</span>
            </div><!-- //item -->
        </div><!-- //tabs-header -->
        <div class="tabs-body">
            <div class="tabs__item"
                 :class="{tabs__item_active: index === getTabIndex}"
                 v-for="(tab, index) in this.getTabData">
                <div class="wysiwyg" v-html=tab.body></div>
            </div><!-- //tabs__item -->
        </div><!-- //tabs-body -->
    </div><!-- //tabs -->
</template>
<script>
    // Import
    import { mapGetters, mapActions } from 'vuex'
    export default {
        name: 'Tabs',
        computed: {
            ...mapGetters(["getTabData", 'getTabIndex']),
        },
        methods: {
            ...mapActions(['actionTabIndex', 'actionTabData']),
            methodsTabChange(index) {
                this.actionTabIndex(index);
            }
        },
        mounted() {
            this.actionTabData();
        },
    }
</script>
<style lang="sass">
    @import '../../assets/scss/helper/variables'
    @import '../../assets/scss/helper/media'
    // TABS
    .tabs
        // tabs-header
        .tabs-header
            border-bottom: 1px solid $colorPrimary500
            display: flex
            overflow-y: hidden
            overflow-x: auto
            .tabs__item
                &.tabs__item_active
                    .tabs-header__text
                        color: $colorWhite
                        background-color: $colorPrimary500

            .tabs-header__text
                color: $colorPrimary400
                background-color: $colorPrimary300
                font-size: 1.25rem
                line-height: 1.5rem
                font-weight: 600
                padding: 1.25rem 1.5rem
                display: flex
                cursor: pointer
                white-space: nowrap
                @include transition
        // tabs-body
        .tabs-body
            position: relative
            overflow: hidden
            background-color: $colorPrimary300
            .tabs__item
                width: 100%
                position: absolute
                left: -100vw
                padding: 1.25rem 1.5rem
                top: 0
                opacity: 0
                @include transition-long

                &.tabs__item_active
                    position: relative
                    opacity: 1
                    left: 0
</style>