// SECTIONS
.section
  padding: 3rem 0
  @include mediaMinWidthTablet
    padding: 4rem 0
  .section__header
    &:not(:last-child)
      margin-bottom: 3rem
    .section__sort
      padding: 2rem 0
      margin-bottom: 2rem
      border-bottom: 1px solid $colorPrimary500
      display: flex
      justify-content: flex-end
      .sort__title
        &:not(:last-child)
          margin-right: 1.5rem
        .title__text
          color: $colorPrimary300
      .sort__list
        display: flex
        .sort__item
          font-weight: 700
          cursor: pointer
          &.sort__item_active
            color: $colorSecondary400
          &:not(:last-child)
            margin-right: 1rem


    .section__filter
      border-bottom: 1px solid $colorPrimary500
      padding: 2rem 0
      margin-bottom: 2rem
      display: flex
      .filter__title
        &:not(:last-child)
          margin-right: 1.5rem
        .title__text
          color: $colorPrimary300
      .filter__list
        display: flex
        .filter__item
          font-weight: 700
          cursor: pointer
          &.filter__item_active
            color: $colorSecondary400
          &:not(:last-child)
            margin-right: 1rem
  .section__secondary
    text-transform: uppercase
    display: flex
    justify-content: center






