<template>
    <div class="products__action action">
        <div class="action__list">
            <div class="action__item action__item_favorite"
                 :class="{action__item_active: this.getFavorite.indexOf(this.id) !== -1}"
                 @click="favoriteToggle(this.id)">
                <svg class="action__ico">
                    <use xlink:href="../../../assets/img/sprite.svg#favorite"></use>
                </svg>
            </div>
            <div class="action__item action__item_cart"
                 :class="{action__item_active: this.getBaskets.indexOf(this.id) !== -1}"
                 @click="basketsToggle(this.id)">
                <svg class="action__ico">
                    <use xlink:href="../../../assets/img/sprite.svg#basket"></use>
                </svg>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from "vuex";
    export default {
        props: ["id"],
        name: "actions",
        computed: {
            ...mapGetters(["getFavorite", "getBaskets"])
        },
        methods: {
            ...mapActions(["actionFavorite", "actionBaskets"]),
            favoriteToggle(id) {
                this.actionFavorite(id);
            },
            basketsToggle(id) {
                this.actionBaskets(id);
            }
        },
    }
</script>
<style lang="sass">
    @import "../../../assets/scss/helper/variables"
    @import "../../../assets/scss/helper/media"
    .products__action
        .action__list
            display: flex
            justify-content: flex-end
        .action__item
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            &:not(:last-child)
                margin-right: 1rem
            &.action__item_active,
            &:hover
                .action__ico
                    fill: $colorSecondary400
        .action__ico
            width: 1.5rem
            height: 1.5rem
            fill: $colorPrimary500
            @include transition
</style>