<template>
    <div class="pagination">
        <div class="pagination__list">
            <div class="pagination__item"
                 :class="{pagination__item_active: index + 1 === this.getPaginationSettings.dotsCurrentIndex}"
                 v-for="(pagination, index) in Math.ceil(this.maxLength/this.getPaginationSettings.productsShowLength)"
                 @click="methodPagination(index)">
                <span class="pagination__text">{{index + 1}}</span>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from "vuex";
    export default {
        props: ["maxLength"],
        name: 'pagination',
        computed: {
            ...mapGetters(["getPaginationSettings"]),
        },
        methods: {
            ...mapActions(['actionPagination']),
            methodPagination(index) {
                this.actionPagination(index);
            },
        },
        async mounted() {
            this.actionPagination(); // запрос на условия пагинации
        },
    }
</script>
<style scoped lang="sass">
    @import "../../../assets/scss/helper/variables"
    @import "../../../assets/scss/helper/media"
/* pagination */
.pagination
    .pagination__list
        display: flex
        justify-content: center
    .pagination__item
        font-size: 1.25rem
        line-height: 1.5rem
        width: 3rem
        height: 3rem
        padding: .5rem
        margin: .25rem
        color: #cc0000
        border: 2px solid #cc0000
        font-weight: 700
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        @include transition
        &.pagination__item_active,
        &:hover
            color: #ffffff
            background-color: #cc0000
</style>