<template>
  <div class="wrapper">
    <!-- // header -->
    <Header />
    <!-- // main -->
    <main class="main">
      <router-view/>
    </main>
    <Modal />
  </div>
</template>
<script>
  // Import
  import Header from '@/components/layout/header.vue'
  import Modal from '@/components/layout/modal.vue'
  import {mapActions} from "vuex";
  export default {
    name: 'app',
    // Components
    components: {
      Header,
      Modal
    },
    methods: {
      ...mapActions(['actionData', 'actionFavorite', 'actionBaskets',]),
    },
    async mounted() {
      this.actionData();
    },
  }
</script>
<style lang="sass">
  @import "./assets/scss/main.sass"
</style>